<a href="https://colab.research.google.com/github/ErabellySreeja2005/23CSBTB27-28/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

data structure using numphy,pandas

In [4]:
import numpy as np
list={1,5,2,6,7}
list1=[3,6,1,8]
print(list)
print(list1)
print(type(list))
print(type(list1))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'set'>
<class 'list'>

In [9]:
List= ["Greeks","for","Greeks"]
list2="my first lab"
list3=4.3
list4=2j+6
list5='my first. lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print(type(list))
print("\nlist iteam:")
print(list)
print(type(list))

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'set'>

list iteam:
{1, 2, 5, 6, 7}
<class 'set'>